<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Список задач</h4>
  </div>
  <div class="card-body table-responsive" *ngIf="tasks && tasks.length > 0; else notFound">
    <table mat-table [dataSource]="dataSource" matSort>
      <!--color-->
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td class="col-color" *matCellDef="let task" [style.background-color]="getPriorityColor(task)"></td>
      </ng-container>

      <!--seq id-->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell
            class="col-id"
            *matCellDef="let idx = index">
          {{idx + 1}}
        </td>
      </ng-container>

      <!--title task-->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Название</th>
        <td mat-cell
            class="col-title pointer" *matCellDef="let task"
            [class.completed]="task['completed']"
            (click)="openEditTaskDialog(task)"
        >
          {{task.title}}
        </td>
      </ng-container>

      <!--date-->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Срок</th>
        <td mat-cell
            class="col-date"
            [ngClass]="{'completed':task['completed'], 'novalue':task.date == null}"
            *matCellDef="let task"
        >
          {{task.date | taskDate}}
        </td>
      </ng-container>

      <!--priority-->
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Приоритет</th>
        <td mat-cell
            class="col-priority"
            [ngClass]="{'completed': task['completed'],'novalue':task.priority == null}"
            *matCellDef="let task"

        >
          {{task.priority ? task.priority.title : 'Без приоритета'}}
        </td>
      </ng-container>

      <!--category-->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Категория</th>
        <td mat-cell
            class="col-category"
            [ngClass]="{'completed':task['completed'],'novalue':task['category'] == null,
             'link': !task['completed'] && task['category']}"
            *matCellDef="let task"
            (click)="!task['completed'] && task['category'] && onSelectCategory(task['category'])"
        >
          {{task['category'] ? task['category'].title : "Без категории"}}
        </td>
      </ng-container>

      <ng-container matColumnDef="operations">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell
            class="col-operations"
            [class.completed]="task['completed']"
            *matCellDef="let task"
        >

          <button mat-icon-button
                  class="delete-icon"
                  (click)="openDeleteDialog(task)"
          >
            <mat-icon aria-hidden="false">delete</mat-icon>
          </button>
          <button mat-icon-button
                  class="edit-icon"
                  (click)="openEditTaskDialog(task)"
          >
            <mat-icon aria-hidden="false">edit</mat-icon>
          </button>

        </td>
      </ng-container>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell
            class="col-select text-right"
            *matCellDef="let task"
        >
          <mat-checkbox
            [checked]="task['completed']"
            (click)="$event.stopPropagation()"
            (change)="$event ? onToggleStatus(task): null"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <!--Header of table-->
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns:displayedColumns" mat-row></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<ng-template #notFound>
  <div class="not-found"><p>Ничего не найдено</p></div>
</ng-template>
