<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Список задач</h4>
  </div>
  <div class="card-body table-responsive" *ngIf="tasks && tasks.length > 0; else notFound">
    <table mat-table [dataSource]="dataSource" matSort>
      <!--color-->
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td class="col-color" *matCellDef="let task" [style.background-color]="getPriorityColor(task)"></td>
      </ng-container>

      <!--seq id-->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td class="col-id" *matCellDef="let idx = index" mat-cell>
          {{idx + 1}}
        </td>
      </ng-container>

      <!--title task-->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Название</th>
        <td class="col-title pointer" *matCellDef="let task"
            [class.completed]="task['completed']"
            (click)="openEditTaskDialog(task)"
            mat-cell
        >
          {{task.title}}
        </td>
      </ng-container>

      <!--date-->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Срок</th>
        <td class="col-date" *matCellDef="let task"
            [ngClass]="{'completed':task['completed'], 'novalue':task.date == null}"
            mat-cell
        >
          {{task.date | taskDate}}
        </td>
      </ng-container>

      <!--priority-->
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Приоритет</th>
        <td class="col-priority" *matCellDef="let task"
            [ngClass]="{'completed': task['completed'],'novalue':task.priority == null}"
            mat-cell
        >
          {{task.priority ? task.priority.title : 'Без приоритета'}}
        </td>
      </ng-container>

      <!--category-->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Категория</th>
        <td class="col-category" *matCellDef="let task"
            [ngClass]="{'completed':task['completed'],'novalue':task['category'] == null,
             'link': !task['completed'] && task['category']}"
            mat-cell
        >
          {{task['category'] ? task['category'].title : "Без категории"}}
        </td>
      </ng-container>

      <!--Header of table-->
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns:displayedColumns" mat-row></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<ng-template #notFound>
  <div class="not-found"><p>Ничего не найдено</p></div>
</ng-template>
