<div *ngIf="showStat">
  <div class="row">
    <app-stat-card
      class='col-lg-3 col-md-6 col-sm-6'
      title="Завершенные задачи"
      iconName="done"
      [count]="completeTasksInCategory"
      [countTotal]="totalTasksInCategory"
      [completed]="true"
    >
    </app-stat-card>

    <app-stat-card
      class='col-lg-3 col-md-6 col-sm-6'
      title="Незавершенные задачи"
      iconName="thumb_down_alt"
      [count]="uncompletedTasksInCategory"
      [countTotal]="totalTasksInCategory"
    >
    </app-stat-card>

    <app-stat-card
      class='col-lg-3 col-md-6 col-sm-6 completed-card'
      title="Процент завершенных задач"
      iconName="poll"
      [count]="completeTasksInCategory ? (completeTasksInCategory/totalTasksInCategory | percent) : '0 %'"
      [completed]="true"

    >
    </app-stat-card>

    <app-stat-card
      class='col-lg-3 col-md-6 col-sm-6'
      title="Процент незавершенных задач"
      iconName="thumb_down_alt"
      [count]="uncompletedTasksInCategory ? (uncompletedTasksInCategory/totalTasksInCategory | percent) : '0 %'">
    </app-stat-card>

  </div>
</div>
