<div *ngIf="showStat">
  <div class="row">
    <app-stat-card
      [completed]="true"
      [countTotal]="totalTasksInCategory"
      [count]="completeTasksInCategory"
      class='col-lg-3 col-md-6 col-sm-6'
      iconName="accessibility_new"
      title="Завершенные задачи"
    >
    </app-stat-card>

    <app-stat-card
      [countTotal]="totalTasksInCategory"
      [count]="uncompletedTasksInCategory"
      class='col-lg-3 col-md-6 col-sm-6'
      iconName="rowing"
      title="Незавершенные задачи"
    >
    </app-stat-card>

    <app-stat-card
      [completed]="true"
      [count]="completeTasksInCategory ? (completeTasksInCategory/totalTasksInCategory | percent) : '0 %'"
      class='col-lg-3 col-md-6 col-sm-6 completed-card'
      iconName="poll"
      title="Процент завершенных задач"

    >
    </app-stat-card>

    <app-stat-card
      [count]="uncompletedTasksInCategory ? (uncompletedTasksInCategory/totalTasksInCategory | percent) : '0 %'"
      class='col-lg-3 col-md-6 col-sm-6'
      iconName="rowing"
      title="Процент незавершенных задач">
    </app-stat-card>

  </div>
</div>
