<mat-dialog-content>
  <p mat-dialog-title class="settings-title with-subtitle">Настройка приоритетов</p>
  <p class="little subtitle">* При изменении - цвет сразу будет отображаться в таблице</p>
  <app-priorities
    [priorities]="priorities"
    (addPriority)="onAddPriority($event)"
    (updatePriority)="onUpdatePriority($event)"
    (deletePriority)="onDeletePriority($event)"
  >
  </app-priorities>
</mat-dialog-content>
<!--  кнопки возможных действий-->
<mat-dialog-actions>
  <button mat-raised-button color="primary"
          style="background: #43a047 !important;"
          (click)="onClose()">Закрыть
  </button>
</mat-dialog-actions>
