<div class="wrapper ">
  <app-categories
    [categories]="categories"
    [selectedCategory]="selectedCategoryInApp"
    [searchCategoryTitle]="searchCategoryText"
    (selectCategory)="onSelectCategory($event)"
    (updateCategory)="onUpdateCategory($event)"
    (deleteCategory)="onDeleteCategory($event)"
    (addCategory)="onAddCategory($event)"
    (searchCategory)="onSearchCategory($event)"
  ></app-categories>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <app-header></app-header>

      </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    </nav>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <app-stat
          [totalTasksInCategory]="totalTasksCountInCategory"
          [completeTasksInCategory]="completedCountInCategory"
          [uncompletedTasksInCategory]="uncompletedCountInCategory"
        >
        </app-stat>
        <div class="row">
          <div class="col-12">
            <app-tasks
              [tasks]="tasks"
              [priorities]="priorities"
              [selectedCategory]="selectedCategoryInApp"
              (updateTask)="onUpdateTask($event)"
              (deleteTask)="onDeleteTask($event)"
              (addTask)="onAddTask($event)"
              (selectCategory)="onSelectCategory($event)"
              (filterByStatus)="onFilterTasksByStatus($event)"
              (filterByTitle)="onSearchTasks($event)"
              (filterByPriority)="onFilterTasksByPriority($event)"
            >
            </app-tasks>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
<!--
 <li class="nav-item">
              <div class="d-inline-block">
                <button mat-raised-button color="accent">
                  <mat-icon>mic</mat-icon>
                  Start Recording
                </button>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications</i>
                <span class="notification">{{tasks.length}}</span>
                <p class="d-lg-none d-md-block">
                  Some Actions
                </p>
              </a>
            </li>
-->
