<mat-drawer-container [hasBackdrop]="backDrop">
  <mat-drawer [mode]="menuMode" [ngClass]="menuOpened && !isMobile? 'menu-desktop':'menu-mobile'"
              [opened]="menuOpened"
  >
    <div class="sidebar" data-background-color="white" data-color="green">
      <!--<app-categories
        (addCategory)="onAddCategory($event)"
        (deleteCategory)="onDeleteCategory($event)"
        (searchCategory)="onSearchCategory($event)"
        (selectCategory)="onSelectCategory($event)"
        (updateCategory)="onUpdateCategory($event)"
        [categories]="categories"
        [categoryMap]="categoryMap"
        [searchCategoryTitle]="searchCategoryText"
        [selectedCategory]="selectedCategoryInApp"
        [uncompletedTotalTask]="uncompletedTotalTasksCount"
      ></app-categories>-->
    </div>
  </mat-drawer>
  <mat-drawer-content
    [ngClass]="menuOpened && !isMobile? 'part':'mat-form-field'"
  >
    <div class="main-panel">
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">

        <!--<app-header
          (toggleMenu)="toggleMenu()"
          (toggleStat)="toggleStat($event)"
          [categoryName]="selectedCategoryInApp? selectedCategoryInApp.title: 'Все категории'"
          [showStat]="showStat"
        ></app-header>-->

      </nav>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12"
                 data-intro="<strong>Статистика</strong>"
                 data-position="top"
                 data-scrollTo="tooltip"
                 data-step="7"
            >
              <!--   <app-stat
                   [completeTasksInCategory]="completedCountInCategory"
                   [showStat]="showStat"
                   [totalTasksInCategory]="totalTasksCountInCategory"
                   [uncompletedTasksInCategory]="uncompletedCountInCategory"
                 ></app-stat>-->
            </div>
          </div>
          <div class="row">
            <div class="col-12"
                 data-intro="<strong>Список задач:</strong><br/>
                                         | <small>Фильтры</small><br/>
                                         | <small>Добавление</small><br/>
                                         | <small>Редактирование</small><br/>
                                         | <small>Удаление</small><br/>"
                 data-position="left"
                 data-scrollTo="tooltip"
                 data-step="8"
            >
              <!--   <app-tasks
                   (addTask)="onAddTask($event)"
                   (deleteTask)="onDeleteTask($event)"
                   (filterByPriority)="onFilterTasksByPriority($event)"
                   (filterByStatus)="onFilterTasksByStatus($event)"
                   (filterByTitle)="onSearchTasks($event)"
                   (selectCategory)="onSelectCategory($event)"
                   (updateTask)="onUpdateTask($event)"
                   [priorities]="priorities"
                   [selectedCategory]="selectedCategoryInApp"
                   [tasks]="tasks"
                 >
                 </app-tasks>-->
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


<!--
 <li class="nav-item">
              <div class="d-inline-block">
                <button mat-raised-button color="accent">
                  <mat-icon>mic</mat-icon>
                  Start Recording
                </button>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications</i>
                <span class="notification">{{tasks.length}}</span>
                <p class="d-lg-none d-md-block">
                  Some Actions
                </p>
              </a>
            </li>
-->
