<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <!--
    1: change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    2: add an image using data-image tag
-->
  <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
    Creative Tim
  </a></div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item"
          *ngFor="let category of categories;"
          [class.active]="selectedCategory === category"
          (click)="showTaskBy(category)">
        <a class="nav-link pointer">
          <p>{{category.title}}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
