.card-title {
  font-size: 35px;
  color: #8a8a8a !important;
}

.stat-card-title {
  margin-bottom: 0;
  font-size: 16px;
}

.completed-card {
  border: 3px solid #8a8a8a !important;
}

.card-icon {
  background: linear-gradient(60deg, #66bb6a, #43a047) !important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4) !important;
  /*  background: linear-gradient(60deg, #ab47bc, #8e24aa) !important;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4) !important;*/
}
